<%- include ../partials/header.ejs %>

<main class="container">
  <div class="row">
    <div class="col-md-offset-3 col md-8">
      <h1><%= title %></h1>
      <a href="busContact/add" class="btn mb-3 btn-primary" role="button">Add Contact</a>
      <br />
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <th class="text-content text-center col-2">Name</th>
          <th class="text-content text-center col-4">Phone Number</th>
          <th class="text-content text-center col-4">Email</th>
          <% if(typeof displayName == 'string' && displayName){%>
          <th class="text-content text-center col-1">Edit</th>
          <th class="text-content text-center col-1">Delete</th>
          <%}%>
        </tr>                 
       
<% for(let count = 0; count<ContactList.length;count++) { %>
        <tr>
          <td class="text-center col-2"><%=ContactList[count].name%></td>
          <td class="text-center col-4"><%=ContactList[count].number%></td>
          <td class="text-center col-4"><%=ContactList[count].email%></td>
          <% if(typeof displayName == 'string' && displayName){%>
          <td class="text-center col-1"><a href="/busContact/edit/<%=ContactList[count]._id%>" class="btn btn-primary" >Edit</a></td>     
          <td class="text-center col-1"><a href="/busContact/delete/<%=ContactList[count]._id%>" class="btn btn-danger" >Delete</a></td>     
          <%}%>
        </tr>
        <%}%>
      </table>
    </div>

  </div>
</main>
