<%-include ../partials/header.ejs%>
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%title%></h1>
      <form class="form" method="POST">
        <div class="form group">
          <label for="nameTextField">
            Name
            <input
              type="text"
              class="form control"
              id="nameTextField"
              placeholder="Enter the name :)"
              name="name"
              value="<%=contact.name%>"
              required
            />
          </label>
        </div>
        <div class="form group">
          <label for="numberTextField"
            >Number
            <input
              type="text"
              class="form control"
              id="numberTextField"
              placeholder="Enter the phone number"
              name="number"
              value="<%=contact.number%>"
              required
            />
          </label>
        </div>
        <div class="form group">
          <label for="emailTextField"
            >Email
            <input
              type="email"
              class="form control"
              id="emailTextField"
              placeholder="Enter the email id"
              name="email"
              value="<%=contact.email%>"
              required
            />
          </label>
        </div>

        <button class="btn btn-primary" type="submit">
          <i class="fas fas-edit"></i>Submit
        </button>
        <a href="/busContact" class="btn btn-warning"
          ><i class="fas fas-undo"></i>Cancel</a
        >
        <a href="/busContact/delete/<%=contact._id%>" class="btn btn-danger"
          >Delete</a
        >
      </form>
    </div>
  </div>
</div>
